* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --c1: #ffa703;
    --c2:#0000;
    --c3:#001F47;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.contenedor {
    position: relative;
    width: 100%;
}

.navegar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--c1);
    border-left: 10px solid var(--c2);
    transition: 0.5s;
    overflow: hidden;
}

.navegar.activo {
    width: 80px;
}

.navegar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px;
}

.navegar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navegar ul li:hover {
    background: var(--c3);
}

.navegar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--c3);
}

.navegar ul li:hover a {
    color: var(--c1);
}

.navegar ul li a .icono {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navegar ul li a .titulo {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navegar ul li:nth-child(1):hover .icono img {
    content: url('../Imágenes/Iconos/Menu hover.svg');
}

.navegar ul li:nth-child(2):hover .icono img {
    content: url('../Imágenes/Iconos/Cobros hover.svg');
}

.navegar ul li:nth-child(3):hover .icono img {
    content: url('../Imágenes/Iconos/Pagos hover.svg');
}

.navegar ul li:nth-child(4):hover .icono img {
    content: url('../Imágenes/Iconos/Proveedores hover.svg');
}

.navegar ul li:nth-child(5):hover .icono img {
    content: url('../Imágenes/Iconos/Productos hover.svg');
}

.navegar ul li:nth-child(6):hover .icono img {
    content: url('../Imágenes/Iconos/Clientes hover.svg');
}

.navegar ul li:nth-child(7):hover .icono img {
    content: url('../Imágenes/Iconos/Resumen hover.svg');
}

.navegar ul li:nth-child(8):hover .icono img {
    content: url('../Imágenes/Iconos/Sorteos hover.svg');
}

.navegar ul li:hover a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--c3);
    pointer-events: none;
}

.navegar ul li:hover a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--c3);
    pointer-events: none;
}

.principal {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--c3);
    transition: 0.5s;
}

.principal.activo {
    width: calc(100% - 80px);
    left: 80px;
}

.barra {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.alternar {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buscar {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.buscar label {
    position: relative;
    width: 100%;
}

.buscar label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 45px;
    outline: none;
    border: 1px solid var(--c3);
}

.buscar label img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.usuario {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.usuario img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caja {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.caja .tarjeta {
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}


.caja .tarjeta .numeros {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--c1);
}

.caja .tarjeta .nombres {
    color: var(--c3);
    font-size: 1.1em;
    margin-top: 5px;
}

.caja .tarjeta .icono-tarjeta {
    color: var(--c3);
}

.caja .tarjeta:hover {
    background: var(--c1);
}

.caja .tarjeta:hover .numeros,
.caja .tarjeta:hover .nombres,
.caja .tarjeta:hover .icono-tarjeta {
    color: var(--c3);
}

.caja .tarjeta-1:hover .icono-tarjeta img {
    content: url('../Imágenes/Iconos/Ventas hover.svg');
}

.caja .tarjeta-2:hover .icono-tarjeta img {
    content: url('../Imágenes/Iconos/ProductoA hover.svg');
}

.caja .tarjeta-3:hover .icono-tarjeta img {
    content: url('../Imágenes/Iconos/ProductoB hover.svg');
}

.caja .tarjeta-4:hover .icono-tarjeta img {
    content: url('../Imágenes/Iconos/ProductoC hover.svg');
}

.con {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    box-sizing: border-box;
    min-height: 200px;
}

.con .sub {
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    box-sizing: border-box;
}

.sub h2 {
    font-weight: 600;
    color: var(--c1);
    margin-bottom: 20px;
}

.fechas {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fechas input {
    width: calc(50% - 10px);
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid var(--c3);
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s ease;
}

.detalles {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.detalles .recientes,
.detalles .existencias {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    height: 500px;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.encabezado h2 {
    font-weight: 600;
    color: var(--c1);
    margin: 0;
    padding-bottom: 10px;
}





.login{

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0.2);
    border: solid #dbdbdb 0.571429px;
    background-color: var(--c3);
    color: var(--c1);
    align-items: center;


}







.tabla-contenedor {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 10px;
}

.detalles table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 10px;
}

.detalles table thead td {
    font-weight: 600;
    padding-bottom: 10px;
}

.detalles .recientes table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detalles .recientes table tr:last-child {
    border-bottom: none;
}

.detalles .recientes table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.detalles .recientes table tr td {
    padding: 10px;
}

.detalles .recientes table tr td:last-child {
    text-align: end;
}

.detalles .recientes table tr td:nth-child(2) {
    text-align: end;
}

.detalles .recientes table tr td:nth-child(3) {
    text-align: center;
}

.detalles .recientes table tbody tr:hover,
.detalles .existencias table tr:hover {
    background-color: var(--c1);
    color: white;
}

.existencias .producto-tarjeta {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.existencias .producto-tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.existencias table tr td h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2rem;
}

.existencias table tr td h4 span {
    font-size: 14px;
    color: var(--c3);
}

.existencias table tr:hover td h4 span {
    color: var(--c3);
}

.editar,
.eliminar {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.editar {
    background-color: var(--c1);
    color: white;
}

.eliminar {
    background-color: #ff4d4d;
    color: white;
}

.agregar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.agregar:hover {
    background-color: #0056b3;
}

@media (max-width: 1200px) {
    .caja {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .con {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 991px) {
    .navegar {
      left: -300px;
    }
    .navegar.activo {
      width: 300px;
      left: 0;
    }
    .principal {
      width: 100%;
      left: 0;
    }
    .principal.activo {
      left: 300px;
    }
    .caja {
      grid-template-columns: repeat(2, 1fr);
    }
    .detalles {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 768px) {
    .detalles {
      grid-template-columns: 1fr;
    }
    .recientes {
      overflow-x: auto;
    }
    .buscar {
      width: 100%;
      margin-bottom: 10px;
    }
    .barra {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
    .usuario {
      position: static;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .caja {
      grid-template-columns: 1fr;
    }
    .encabezado h2 {
      font-size: 20px;
    }
    .usuario {
      min-width: 40px;
    }
    .navegar {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
    .navegar.activo {
      width: 100%;
      left: 0;
    }
    .alternar {
      z-index: 10001;
    }
    .principal.activo .alternar {
      color: #fff;
      position: fixed;
      right: 0;
      left: initial;
    }
    .fechas {
      flex-direction: column;
    }
    .fechas input {
      width: 100%;
      margin-bottom: 10px;
    }
  }